<style>
    .locked {
        background-color: red!important;
        color: aliceblue;
    }
    .owned {
        background-color: green!important;
        color: aliceblue;
    }
</style>
<script>
    // Я понимаю,что это плохо, но нет времени на хорошую реализацию
    let currentUserId;

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    const socket = io('/socket', {
        auth: {
            token: getCookie('token')
        }
    });

    socket.on('connect', () => {
        console.log('Connected to WebSocket server');
    });

    socket.on('connection', (data) => {
        document.cookie = `token=${data.token}`;
        document.getElementById('userName').innerText = data.name;

        currentUserId = data.id;

        var grid = document.querySelectorAll('#grid td');

        if (grid.length) {
            grid.forEach(function(item) {
                if (item.dataset.userId === currentUserId) {
                    item.classList.add(['owned']);
                } else if (item.dataset.userId > 0) {
                    item.classList.add(['locked']);
                }
            });
        }
    });

    socket.on('user-connected', (data) => {
        var newItem = document.createElement("li");
        var textNode = document.createTextNode(data.name);

        newItem.appendChild(textNode);
        newItem.setAttribute("id", `online-${data.id}`);
        newItem.setAttribute("data-user-id", data.id);

        var list = document.getElementById("online");
        list.appendChild(newItem);
    });

    socket.on('user-disconnected', (data) => {
        var list = document.getElementById("online");
        var itemToRemove = document.getElementById(`online-${data.id}`);

        list.removeChild(itemToRemove);
    });

    socket.on('cell-updated', (data) => {
        const cellElement = document.getElementById(`cell-${data.cellId}`);
        cellElement.textContent = data.value;
    });

    socket.on('cell-locked', (data) => {
        const cellId = data.cellId;
        const userId = data.userId;

        const cellElement = document.getElementById(`cell-${cellId}`);
        cellElement.setAttribute('data-user-id', userId);

        if (cellElement.dataset.userId === currentUserId) {
            cellElement.classList.add(['owned']);
            cellElement.classList.remove('locked');
        } else {
            cellElement.classList.add(['locked']);
            cellElement.classList.remove('owned');
        }
    });

    socket.on('cell-unlocked', (data) => {
        const cellId = data.cellId;
        const cellElement = document.getElementById(`cell-${cellId}`);
        cellElement.classList.remove('locked');
        cellElement.classList.remove('owned');
        cellElement.setAttribute('data-user-id', null);
    });

    function updateCellValue(cellId) {
        const cellElement = document.getElementById(cellId);

        socket.emit('update-cell-value', {
            cellId: cellId,
            value: cellElement.innerText
        });
    }

    document.addEventListener('DOMContentLoaded', function() {
        var table = document.getElementById('grid');

        table.addEventListener('contextmenu', function(event) {
            event.preventDefault();

            var cell = event.target.closest('td');

            if (cell) {
                var cellData = cell.dataset;
                openContextMenu(event.clientX, event.clientY, cellData);
            }
        });
    });

    function openContextMenu(x, y, cellData) {
        var menu = document.createElement('div');
        menu.style.position = 'absolute';
        menu.style.left = x + 'px';
        menu.style.top = y + 'px';
        menu.style.backgroundColor = 'white';
        menu.style.border = '1px solid black';
        menu.style.padding = '5px';

        // Lock
        var menuItem = document.createElement('div');
        menuItem.textContent = 'Заблокировать';
        menu.appendChild(menuItem);

        menuItem.addEventListener('click', function() {
            socket.emit('lock-cell', {
                cellId: cellData.id,
                userId: currentUserId
            });
            document.body.removeChild(menu);
        });

        document.body.appendChild(menu);

        if (cellData.userId === currentUserId) {
            // Unlock
            var menuItem = document.createElement('div');
            menuItem.textContent = 'Разблокировать';
            menu.appendChild(menuItem);

            menuItem.addEventListener('click', function() {
                socket.emit('unlock-cell', {
                    cellId: cellData.id
                });
                document.body.removeChild(menu);
            });

            document.body.appendChild(menu);

            // Transfer
            var onlineUsers = document.querySelectorAll('#online li');

            if (onlineUsers.length) {
                onlineUsers.forEach(function(item) {
                    var transferUserId = item.getAttribute('data-user-id');

                    if (transferUserId === currentUserId) {
                        return;
                    }

                    var menuItem = document.createElement('div');

                    menuItem.textContent = item.innerText;
                    menu.appendChild(menuItem);

                    menuItem.addEventListener('click', function() {
                        socket.emit('lock-cell', {
                            cellId: cellData.id,
                            userId: transferUserId
                        });
                        document.body.removeChild(menu);
                    });

                    document.body.appendChild(menu);
                });
            }
        }

        document.addEventListener('click', function() {
            document.body.removeChild(menu);
        }, { once: true });
    }
</script>

<div>Hello <b><span id="userName"></span></b></div>
<span>Online: </span>
<ul id="online">
    {{#each users}}
        <li id="online-{{this.id}}" data-user-id="{{this.id}}">{{this.name}}</li>
    {{/each}}
</ul>

<div id="context-menu" style="display: none; position: absolute; background-color: white; border: 1px solid black; padding: 5px;">
    <ul>
        <li onclick="lock()">Действие 1</li>
        <li onclick="unlock()">Действие 2</li>
        <li class="header">Передать блокировку</li>
        <li onclick="transfer()">Действие 3</li>
    </ul>
</div>

{{{grid}}}